.container {
  color: white;
  text-align: center;
}

.img-container {
  flex-shrink: 0; /* Prevents image from shrinking */
}

img {
  width: 500px; /* Adjust as needed */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.small-container {
  margin-top: 500px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center; /* Vertically centers image and content */
  gap: 30px; /* Space between image and text */
}

.small-container h1,
.small-container h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
}
