.container {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.small-container {
    border: black 2px solid;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3rem;
}

.small-container h1, .small-container h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}

p {
  font-size: 1.25rem;
}
